*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.733);
}

a {
  font-weight: 500;
}

a.navbar-brand {
  font-weight: 600;
}

header {
  margin-bottom: 70px;
}

header nav {
  min-height: 70px;
}

header nav .navbar-toggler {
  border: 0px;
}

header nav .navbar-toggler:hover {
  background-color: #f5f7f4;
  -webkit-transition: .3s;
  transition: .3s;
}

header nav .navbar-toggler .fa-bars {
  color: rgba(0, 0, 0, 0.808);
}

header nav .navbar-collapse .navbar-nav a.nav-item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header nav .navbar-collapse .navbar-nav a.nav-item:hover {
  color: #0278ae;
  -webkit-transition: .3s;
  transition: .3s;
}

header nav .navbar-collapse .navbar-nav a.nav-item:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header nav .navbar-collapse .navbar-nav a.nav-item:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #0278ae;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header nav .navbar-collapse .navbar-nav a.active {
  color: #0278ae !important;
}

header nav .navbar-collapse .navbar-nav a.active:after {
  content: '';
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  display: block;
  height: 2px;
  background-color: #0278ae;
}

.carousel-section .item {
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

main .wrapper {
  padding: 0px;
}

main .wrapper .latest-info {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.808);
}

main .wrapper .hero-title {
  color: rgba(0, 0, 0, 0.808);
}

main .wrapper .infos .card, main .wrapper .posts .card {
  border-radius: .35rem;
}

main .wrapper .infos .card.shadow, main .wrapper .posts .card.shadow {
  -webkit-box-shadow: 8px 8px 16px #cfcece,  -8px -8px 16px #ffffff !important;
          box-shadow: 8px 8px 16px #cfcece,  -8px -8px 16px #ffffff !important;
}

main .wrapper .infos .card.posts-card, main .wrapper .posts .card.posts-card {
  margin-bottom: 40px;
}

main .wrapper .infos .card .card-image, main .wrapper .posts .card .card-image {
  overflow: hidden;
  border-radius: .35rem;
}

main .wrapper .infos .card .card-image:hover img, main .wrapper .posts .card .card-image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .wrapper .infos .card .card-image img, main .wrapper .posts .card .card-image img {
  border-radius: .35rem;
  max-height: 50vh;
  width: 100%;
  height: auto !important;
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  main .wrapper .infos .card .card-image img, main .wrapper .posts .card .card-image img {
    max-height: 40vh;
  }
}

@media (min-width: 1024px) {
  main .wrapper .infos .card .card-image img.img-posts, main .wrapper .posts .card .card-image img.img-posts {
    min-height: 60vh;
  }
}

main .wrapper .infos .card .card-detail, main .wrapper .posts .card .card-detail {
  padding: 12px;
}

main .wrapper .infos .card .card-detail .card-text img, main .wrapper .posts .card .card-detail .card-text img {
  max-width: 100%;
  border-radius: .35rem;
  height: auto !important;
}

main .wrapper .infos .card .card-detail a.card-title, main .wrapper .infos .card .card-detail a.other-card-title, main .wrapper .posts .card .card-detail a.card-title, main .wrapper .posts .card .card-detail a.other-card-title {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.808);
}

main .wrapper .infos .card .card-detail a.card-title:hover, main .wrapper .infos .card .card-detail a.other-card-title:hover, main .wrapper .posts .card .card-detail a.card-title:hover, main .wrapper .posts .card .card-detail a.other-card-title:hover {
  color: #0278ae;
  text-decoration: none;
  -webkit-transition: .35s;
  transition: .35s;
}

main .wrapper .infos .card .card-detail a.other-card-title, main .wrapper .posts .card .card-detail a.other-card-title {
  font-size: 15px;
}

main .wrapper .infos .card .card-detail .btn-read-more, main .wrapper .posts .card .card-detail .btn-read-more {
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
}

main .wrapper .infos .card .card-detail .published-info p, main .wrapper .posts .card .card-detail .published-info p {
  font-size: 14px;
}

main .wrapper .infos .card .card-detail.other-item img, main .wrapper .posts .card .card-detail.other-item img {
  border-radius: .3rem;
}

main .wrapper .contact {
  background-color: #ece8e80c;
  border-radius: .35rem;
  border: 0.5px solid rgba(0, 0, 0, 0.125);
}

main .wrapper .contact.shadow {
  -webkit-box-shadow: 8px 8px 16px #cfcece,  -8px -8px 16px #ffffff !important;
          box-shadow: 8px 8px 16px #cfcece,  -8px -8px 16px #ffffff !important;
}

main .wrapper .contact .contact-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.808);
}

main .wrapper .contact .left .map-loc {
  border-radius: .35rem;
}

main .wrapper .breadcrumb {
  background-color: transparent;
}

main .wrapper .breadcrumb .breadcrumb-item a {
  font-weight: 400;
  color: #4a5157;
}

main .wrapper .breadcrumb .breadcrumb-item.active {
  font-weight: 500;
  color: #0278ae;
}

main .wrapper .others {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  width: 100%;
  height: 100%;
}

main .wrapper .others .other-item img {
  width: 15vh;
  height: 15vh;
}

main .wrapper .others .other-item .other-detail {
  display: none;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .others .other-card-title {
    font-size: 16px !important;
  }
  .others .other-detail {
    font-size: 14px;
    display: block !important;
  }
}

@media only screen and (max-width: 320px) {
  main .container h3.text-center {
    font-size: 24px;
  }
  main .container .infos .card .card-title {
    font-size: 18px;
  }
  main .container .card-detail .published-by {
    margin-bottom: 12px;
  }
}
/*# sourceMappingURL=style.css.map */