*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.733);
}

a {
    &.navbar-brand {
        font-weight: 600;
    }
    font-weight: 500;
}

header {
    margin-bottom: 70px;
    nav {
        min-height: 70px;
        .navbar-toggler {
            border: 0px;
            &:hover {
                background-color: #f5f7f4;
                transition: .3s;
            }
            .fa-bars {
                color: rgba(0, 0, 0, 0.808);
            }
        }
        .navbar-collapse {
            .navbar-nav {
                a {
                    &.nav-item {
                        width: max-content;
                        &:hover {
                            color: #0278ae;
                            transition: .3s;
                            &:after {
                                transform: scaleX(1);
                                transition: transform .3s;
                            }
                        }
                        &:after {
                            content: '';
                            display: block;
                            height: 2px;
                            background-color: #0278ae;
                            transform: scaleX(0);
                            transition: transform .3s;
                        }
                    }
                    &.active {
                        color: #0278ae !important;
                        &:after {
                            content: '';
                            transform: scaleX(1);
                            display: block;
                            height: 2px;
                            background-color: #0278ae;
                        }
                    }
                }
            }
        }
    }
}

.carousel-section {
    .item {
        height: 70vh;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

main {
    .wrapper {
        padding: 0px;
        .latest-info {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.808);
        }
        .hero-title {
            color: rgba(0, 0, 0, 0.808);
        }
        .infos, .posts {
            .card {
                border-radius: .35rem;
                &.shadow {
                    box-shadow: 8px 8px 16px #cfcece, 
                    -8px -8px 16px #ffffff !important;
                }
                &.posts-card {
                    margin-bottom: 40px;
                }
                .card-image {
                    overflow: hidden;
                    border-radius: .35rem;
                    &:hover {
                        img {
                            transform: scale(1.2);
                        }
                    }
                    img {
                        border-radius: .35rem;
                        max-height: 50vh;
                        width: 100%;
                        height: auto !important;
                        transition: transform 1.5s ease;
                        @media (min-width: 768px) and (max-width: 991.98px) {
                            max-height: 40vh;
                        }
                        @media (min-width: 1024px) {
                            &.img-posts {
                                min-height: 60vh;
                            }
                        }
                    }
                }
                .card-detail {
                    padding: 12px;
                    .card-text {
                        img {
                            max-width: 100%;
                            border-radius: .35rem;
                            height: auto !important;
                        }
                    }
                    a {
                        &.card-title, &.other-card-title {
                            font-size: 18px;
                            color: rgba(0, 0, 0, 0.808);
                            &:hover {
                                color: #0278ae;
                                text-decoration: none;
                                transition: transform .3s;
                            }
                        }
                        &.other-card-title {
                            font-size: 15px;
                        }
                    }
                    .btn-read-more {
                        font-weight: 500;
                        color: #0278ae;
                        border-color: #0278ae;
                        border-radius: 50px;
                        &:hover {
                            color: #fff;
                            transition: .5s;
                            box-shadow: 0 .5rem 1rem rgba(2, 120, 174, .2) !important;
                        }
                    }
                    .published-info {
                        p {
                            font-size: 14px;
                        }
                    }
                    &.other-item {
                        img {
                            border-radius: .3rem;
                        }
                    }
                }
            }
        }
        .contact {
            background-color: #ece8e80c;
            border-radius: .35rem;
            border: .5px solid rgba(0,0,0,.125);
            &.shadow {
                box-shadow: 8px 8px 16px #cfcece, 
                -8px -8px 16px #ffffff !important;
            }
            .contact-title {
                font-weight: 600;
                color: rgba(0, 0, 0, 0.808);
            }
            .left {
                .map-loc {
                    border-radius: .35rem;
                }
            }
        }
        .breadcrumb {
            background-color: transparent;
            .breadcrumb-item {
                a {
                    font-weight: 400;
                    color: #4a5157;
                }
                &.active {
                    font-weight: 500;
                    color: #0278ae;
                }
            }
        }
        .others {
            position: -webkit-sticky;
            position: sticky;
            top: 5rem;
            width: 100%;
            height: 100%;
            .other-item {
                img {
                    width: 15vh;
                    height: 15vh;
                }
                .other-detail {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .others {
        .other-card-title {
            font-size: 16px !important;
        }
        .other-detail {
            font-size: 14px;
            display: block !important;
        }
    }    
}

// @media only screen and (min-width: 768px) {
//     .other-detail {
//         display: block;
//     }
// }

// @media (max-width: 768px) and (min-width: 991.98px) {
//     .other-detail {
//         display: none;
//     }
// }

@media only screen and (max-width: 320px) {
    main {
        .container {
            h3 {
                &.text-center {
                    font-size: 24px;       
                }
            }
            .infos {
                .card {
                    .card-title {
                        font-size: 18px;
                    }
                }
            }
            .card-detail {
                .published-by {
                    margin-bottom: 12px;
                }
            }
        }
    }
}